<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TaskTracker</title>
    <link
            href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">

</head>

<body>
<div class="flex flex-row justify-between py-5 bg-purple-500">
    <a th:href="@{/home}" class="font-bold text-xl pl-10 text-white">Task Tracker</a>
    <div class="flex flex-row space-x-8 pr-10">
        <a th:href="@{/notification}" class="text-white text-lg hover:underline flex flex-col md:flex-row space-x-2">
            Notification (
            <div th:text="${counter}" class="text-white text-lg"></div>
            )
        </a>
        <a th:href="@{/home}" class="text-white text-lg hover:underline">Deadlines</a>
        <a th:href="@{/matakuliah}" class="text-white text-lg hover:underline">Courses</a>
        <a th:href="@{/admin}" class="text-white text-lg hover:underline">Admin</a>
        <a th:href="@{/logout}" method="post" class="text-white text-lg hover:underline">Logout</a>
    </div>
</div>


<h1 class="text-center text-5xl py-12 font-bold" id="heading1">Add Tugas</h1>

<form th:action="@{/tugas/addTugas/{idMataKuliah}(idMataKuliah=${idMatkul})}" method="POST" class="flex flex-col w-1/4 space-y-4 mx-auto">
    <div class="flex flex-col space-y-1.5">
        <p class="text-2xl">Judul</p>
        <input
                required
                type="text"
                name="judul"
                class="border-2 border-purple-500 h-12 rounded-xl px-2 text-lg active:outline-none focus:outline-none"
                placeholder="Contoh: Tugas Kelompok 2"
        />
    </div>
    <div class="flex flex-col space-y-1.5">
        <p class="text-2xl">Deskripsi</p>
        <input
                required
                type="text"
                name="deskripsi"
                class="border-2 border-purple-500 h-12 rounded-xl px-2 text-lg active:outline-none focus:outline-none"
                placeholder="Contoh: Materinya terkait Spring Boot"
        />
    </div>

    <div class="flex flex-col space-y-1.5">
        <p class="text-2xl">Deadline</p>
        <input
                required
                type="datetime-local"
                name="deadline"
                class="border-2 border-purple-500 h-12 rounded-xl px-2 text-lg active:outline-none focus:outline-none"
        />
    </div>

    <div class="text-center">
        <button name="submit" type="submit" class="bg-purple-500 text-white font-semibold rounded-xl w-48 h-10 hover:shadow-lg active:outline-none focus:outline-none">
            <p class="active:outline-none focus:outline-none">ADD</p>
        </button>
    </div>

    <div th:if="${param.success}">
        Berhasil menambahkan tugas!
    </div>
    <div th:if="${param.error}">
        Tugas gagal ditambahkan :(
    </div>

</form>


</body>

</html>
