<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>TaskTracker</title>
    <link
            href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Lora"
    />
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css" />
    <link rel="stylesheet" href="assets/css/styles.css" />
</head>

<body>
<div class="flex flex-row justify-between py-5 bg-purple-500">
    <a th:href="@{/home}" class="font-bold text-xl pl-10 text-white">Task Tracker</a>
    <div class="flex flex-row space-x-8 pr-10">
        <a th:href="@{/notification}" class="text-white text-lg hover:underline flex flex-col md:flex-row space-x-2">
            Notification (
            <div th:text="${counter}" class="text-white text-lg"></div>
            )
        </a>
        <a th:href="@{/home}" class="text-white text-lg hover:underline">Deadlines</a>
        <a th:href="@{/matakuliah}" class="text-white text-lg hover:underline">Courses</a>
        <a th:href="@{/admin}" class="text-white text-lg hover:underline">Admin</a>
        <a th:href="@{/logout}" method="post" class="text-white text-lg hover:underline">Logout</a>
    </div>
</div>

<div class="flex flex-col space-y-10">
    <h1 class="text-center text-5xl py-12 font-bold" id="heading1">
        Hi, admin...
    </h1>

    <div class="flex justify-center space-x-20">
        <a th:href="@{/matakuliah/editTugas}" class="active:outline-none focus:outline-none text-center">
            <button
                    class="
              border-4 border-purple-500
              text-purple-500 text-lg
              font-semibold
              rounded-xl
              w-48
              h-48
              hover:shadow-lg
              hover:bg-purple-500
              hover:text-white
              hover:border-white
              active:outline-none
              focus:outline-none
            "
            >
                EDIT TUGAS
            </button>
        </a>

        <a th:href="@{/matakuliah/addMatkul}" class="active:outline-none focus:outline-none text-center">
            <button
                    class="
              border-4 border-purple-500
              text-purple-500 text-lg
              font-semibold
              rounded-xl
              w-48
              h-48
              hover:shadow-lg
              hover:bg-purple-500
              hover:text-white
              hover:border-white
              active:outline-none
              focus:outline-none
            "
            >
                ADD MATKUL
            </button>
        </a>

        <a th:href="@{/matakuliah/deleteMatkul}" class="active:outline-none focus:outline-none text-center">
            <button
                    class="
              border-4 border-purple-500
              text-purple-500 text-lg
              font-semibold
              rounded-xl
              w-48
              h-48
              hover:shadow-lg
              hover:bg-purple-500
              hover:text-white
              hover:border-white
              active:outline-none
              focus:outline-none
            "
            >
                DELETE MATKUL
            </button>
        </a>
    </div>
</div>
</body>
</html>
