<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TaskTracker</title>
    <link
            href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">

</head>

<body>
<div class="flex flex-row justify-between py-5 bg-purple-500">
    <div class="font-bold text-xl pl-10 text-white">Task Tracker</div>
    <div class="flex flex-row space-x-8 pr-10">
    <a th:href="@{/home}" class="font-bold text-xl pl-10 text-white">Task Tracker</a>
    <div class="flex flex-row space-x-8 pr-10">
        <a th:href="@{/notification}" class="text-white text-lg hover:underline flex flex-col md:flex-row space-x-2">
            Notification (
            <div th:text="${counter}" class="text-white text-lg"></div>
            )
        </a>
        <a th:href="@{/home}" class="text-white text-lg hover:underline">Deadlines</a>
        <a th:href="@{/matakuliah}" class="text-white text-lg hover:underline">Courses</a>
        <a th:href="@{/admin}" class="text-white text-lg hover:underline">Admin</a>
        <a th:href="@{/logout}" method="post" class="text-white text-lg hover:underline">Logout</a>
    </div>
</div>


<h1 class="text-center text-5xl py-12 font-bold">Courses</h1>

<div class="container mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 px-4">

    <tr th:each="tugas: ${listTugas}">
        <div class="flex flex-col justify-center p-5 border-4 border-purple-500 rounded-xl transform hover:scale-105">
            <h4 th:text="${tugas.judul}" class="font-bold text-purple-500 text-center pb-3 text-2xl md:text-3xl"></h4>
            <div class="flex self-center space-x-1">
                <h6 th:text="${tugas.deskripsi}" class="font-semibold text-xl text-center"></h6>
            </div>
            <form th:action="@{/tugas/deleteTugas/{idMatkul}/{idTugas} (idMatkul = ${idMatkul}, idTugas = ${tugas.getId()})}" th:method="POST" class="flex justify-center flex-col xl:flex-row gap-4 mt-5">
                <button type="submit" class="hover:shadow-xl py-3 px-6 bg-purple-500 rounded-lg text-white font-semibold active:outline-none focus:outline-none">DELETE</button>
            </form>
        </div>
    </tr>


</div>



</body>

</html>