<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
<h1>Welcome <span th:text="${mahasiswa_username}"> User </span></h1>
<a th:href="@{/logout}">Logout here.</a>
</body>
</html>
