<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .close {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 0%;
        padding: 12px 16px;
        transform: translate(0%, -50%);
    }
</style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TaskTracker</title>
    <link
            href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">

</head>

<div class="flex flex-row justify-between py-5 bg-purple-500">
    <a th:href="@{/home}" class="font-bold text-xl pl-10 text-white">Task Tracker</a>
    <div class="flex flex-row space-x-8 pr-10">
        <a th:href="@{/notification}" class="text-white text-lg hover:underline flex flex-col md:flex-row space-x-2">
            Notification (
            <div th:text="${counter}" class="text-white text-lg"></div>
            )
        </a>
        <a th:href="@{/home}" class="text-white text-lg hover:underline">Deadlines</a>
        <a th:href="@{/matakuliah}" class="text-white text-lg hover:underline">Courses</a>
        <a th:href="@{/admin}" class="text-white text-lg hover:underline">Admin</a>
        <a th:href="@{/logout}" method="post" class="text-white text-lg hover:underline">Logout</a>
    </div>
</div>


<h1 class="text-center text-5xl py-12 font-bold" id="heading1">Your Notification</h1>

<div class="container mx-auto grid gap-6">

    <tr th:each="logs: ${listLogs}">
        <div class="flex flex-col p-5 border-4 border-purple-500 rounded-xl transform hover:scale-105">
            <h4 th:text="${logs.getPesan()}" class="font-bold text-purple-500 text-md pb-3 text-2xl md:text-3xl">Tugas TK pada Mata Kuliah Adpro telah ditambahkan</h4>
            <div class="flex flex-col md:flex-row space-x-2">
                <h6>Waktu ditambahkan :</h6>
                <h6 th:text="${logs.getTimeFormatted()}" class="text-red-600 font-semibold">
                    2021-06-14 19:50
                </h6>
                <form th:action="@{/mahasiswa/deleteLogs/{idLogs} (idLogs = ${logs.getId()})}" th:method="POST" class="close flex xl:flex-row gap-1 mt-1">
                    <button type="submit" class="hover:shadow-xl py-3 px-6 bg-red-500 rounded-lg text-white font-semibold active:outline-none focus:outline-none">Hapus</button>
                </form>
            </div>

        </div>

    </tr>

</div>


</body>

</html>