
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>TaskTracker</title>
    <link
            href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Lora"
    />
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css" />
    <link rel="stylesheet" href="assets/css/styles.css" />
</head>

<body>
<div class="flex flex-row justify-between py-5 bg-purple-500">
    <a th:href="@{/login}" class="font-bold text-xl pl-10 text-white">Task Tracker</a>
    <div class="flex flex-row space-x-8 pr-10">
        <a th:href="@{/login}" class="text-white text-lg hover:underline">Login</a>
    </div>
</div>

<h1 class="text-center text-5xl py-12 font-bold" id="heading1">Register</h1>

<form th:action="@{/registration}" method="post" th:object="${user}" class="flex flex-col w-1/4 space-y-4 mx-auto">

    <div class="flex flex-col space-y-1.5">
        <p class="text-2xl">NPM</p>
        <input
                required
                type="text"
                name="NPM"
                class="
            border-2 border-purple-500
            h-12
            rounded-xl
            px-2
            text-lg
            active:outline-none
            focus:outline-none
          "
                placeholder="Masukkan NPM anda disini..."
        />
    </div>
    <div class="flex flex-col space-y-1.5">
        <p class="text-2xl">Nama</p>
        <input
                required
                type="text"
                name="nama"
                class="
            border-2 border-purple-500
            h-12
            rounded-xl
            px-2
            text-lg
            active:outline-none
            focus:outline-none
          "
                placeholder="Masukkan nama anda disini..."
        />
    </div>

    <div class="flex flex-col space-y-1.5">
        <p class="text-2xl">Username</p>
        <input
                required
                type="text"
                name="username"
                class="
            border-2 border-purple-500
            h-12
            rounded-xl
            px-2
            text-lg
            active:outline-none
            focus:outline-none
          "
                placeholder="Masukkan username anda disini..."
        />
    </div>
    <div class="flex flex-col space-y-1.5">
        <p class="text-2xl">Password</p>
        <input
                required
                type="password"
                name="password"
                class="
            border-2 border-purple-500
            h-12
            rounded-xl
            px-2
            text-lg
            active:outline-none
            focus:outline-none
          "
                placeholder="Masukkan password anda disini..."
        />
    </div>

    <div class="text-center">
        <button name="submit" type="submit" class="bg-purple-500 text-white font-semibold rounded-xl w-48 h-10 hover:shadow-lg active:outline-none focus:outline-none">
            <p class="active:outline-none focus:outline-none">REGISTER</p>
        </button>
    </div>

    <div th:if="${param.success}">
        Berhasil registrasi!
    </div>
    <div th:if="${param.error}">
        Registrasi gagal! NPM sudah terdaftar.
    </div>




</form>
</body>
</html>

